FLASK_APP=run.py # Specifies the main app package for Flask to run.
FLASK_RUN_HOST=0.0.0.0 # Allows the app to be accessible from any IP address, useful for Docker containers or remote serversFLASK_RUN_PORT=5000 # Sets the port for the Flask app to run on. Default is 5000, but can be changed as needed. 
FLASK_RUN_PORT=5000 # Sets the port for the Flask app to run on. Default is 5000, but can be changed as needed.
FLASK_DEBUG=false # Enables debug mode during development, showing detailed errors and auto-reloading the app. Set to 0 in production for security.